h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
h3 {
  color: chocolate;
  font-style: italic;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}